.container {
	display: flex;
	height: 100vh;
}
* {
	border: red solid 1px;
}
.content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
	padding-right: 150px;
}
.image-container {
	background-image: url(./Assets/background-image.jpg);
	width: 35vw;
	flex-shrink: 0;
}
.logo-container {
	display: flex;
	margin-top: 30vh;
	justify-content: center;
	align-items: center;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.5);
}
.logo-container img {
	height: 150px;
	width: auto;
}
.logo {
	color: white;
	font-weight: bold;
	font-size: 72px;
}
.form-container p {
	font-weight: bold;
}
.text-wrapper {
	font-size: 26px;
	font-weight: bold;
}
.form-block > * {
	display: block;
}
.form-block-wrap {
	display: flex;
	justify-content: flex-start;
	gap: 80px;
}
